<div class="card">
  <div class="card-body">
    <h5 class="heading heading-5 strong-600"><i class="fas fa-shopping-bag"></i>イベント当日</h5>
    <p class="card-text">
      本日はイベント参加日です。<br />
      購入実績を登録しましょう。<br />
      ※もし欠席する場合は、イベント当日画面の状況確認に進み、未購入を検索すると一括で購入担当を変更できます。
    </p>
    <%= link_to "イベント当日", shopping_own_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>