<H2>【よくある質問と答え】</H2>
<br />
<H3>【登録について】</H3>
<H4>Q.バイレーツってなに？</H4>
A.	即売会向けの購入支援アプリです。<br />
購入リストの作成、編集、実績入力、履歴確認が行えます。<br />
また、バイレーツの特徴的な機能として、お友達との共同購入をお手伝いします。<br />
余談ですが、バイレーツとは「pirate」と「buy」を組み合わせた造語です。<br />
もっと余談ですが、開発初期の仮名は「貝出汁」でした。全力で止められました。<br />
<br />
<H4>Q.どうやってユーザー登録するの？</H4>
A.	ユーザー登録は、「メールからの認証による登録」と「Twitter認証を利用した登録」のどちらかから行ってください。<br />
<br />
<H4>Q.メールから登録する場合、メールアドレスはなにに使われるの？</H4>
A.	登録後に、入力されたメールに本登録用のURL送信に使われます。<br />
こちらは本人確認のためのものです。<br />
またログイン時のIDとして、またパスワードを忘れた時のパスワード再発行URLの送信先、パスワードを連続して間違えた時にかかるロック解除依頼のURL発行の送信先として使用されます。<br />
これ以外にメールアドレスは利用されません。<br />
<br />
<H4>Q.登録時に入力する「システムID」ってなにに使うの？</H4>
A.作成したグループにお友達を招待するときに使います。<br />
　Twitter認証を使用している場合は、Twitter IDが代わりに使用されます。<br />
<br />
<H4>Q.Twitterから登録する場合、どの情報が使われるの？</H4>
A.	Twitterからバイレーツに提供されるのは、「ユーザー識別のための固有番号」「Twitter ID」「アカウント名」となり、この情報以外を使用することはありません。<br />
<br />
<H4>Q.使用するのにお金はかかるの？</H4>
A.2018/8/1現在、全ての機能を無料で使用できます。<br />
<br />
<H3>【使用方法について】</H3>
<H4>Q.どうやって使うの？</H4>
A.	プロモーション動画をご覧ください。<br />
　「アイテムを登録」→「グループを作成」→「グループにアイテムを設定」→「実際の買出し」の流れになります。<br />
<br />
<H4>Q.友達を作成したグループに招待するために検索をしても、検索結果にでてこないんですが？</H4>
A.お友達はログインする時に、Twitter認証を使っていますか？<br />
　その場合は、「Twitter IDから探す」にチェックを入れて検索をしてください。<br />
　またIDは完全に一致していないと検索結果に表示されませんので、大文字小文字やハイフン、アンダーバーが合っているかを確認してください。<br />
<br />
<H4>Q.事情によりグループを解散することにしました。登録されたアイテムの情報はどうなるの？</H4>
A.購入希望を出していたユーザーの個人アイテムとなります。<br />
　また新しくグループを作成して、アイテムを登録してください。<br />
　なお、配置場所などは変わる可能性があるため、保持される情報は「アイテム名」と「サークル名」だけです。<br />
<br />
<H4>Q.グループを退会した場合、登録されたアイテムの情報はどうなるの？</H4>
A.グループ解散と同じように、自分が購入希望を出していたアイテムは個人アイテムとなります。<br />
また、退会したユーザーが購入担当者になっていた場合、購入担当者の設定が消えます。<br />
<br />
<H4>Q.ノベルティのチェックってなに？</H4>
A.購入アイテムにノベルティやペーパーがある場合、チェックを付けておくと、そのアイテムにアイコンが付きます。<br />
　購入時や、購入品を渡す時にノベルティを忘れない目印としてください。<br />
<br />
<H4>Q.優先度ってなに？　これを設定するとどうなるの？</H4>
A.絶対に欲しいから一番に行きたい、そういう時に「最優先」を付けておくと、買出しの一覧で先頭に表示されます。<br />
2番目に設定すれば、最優先の次に表示され、つまりは並べ替えのためにあります。<br />
優先度は1グループ1つと決まっているわけではなく、ご利用方法に応じ、お好きにつけてください。<br />
<br />
<H4>Q.一致ってなに？</H4>
A.例えば、Aさんが「Xサークルの新刊が欲しい」と思って、アイテム名・サークル名を『新刊』『Xサークル』として、グループのアイテムに登録したとします。<br />
同じグループのBさんも同じ本を欲しいと思っていて、タイミングよく新刊の名前が発表になったので、その本の名前、『森のくまさん』『Xサークル』として登録したとします。<br />
すると、同じ本を指すのに『新刊（Xサークル）』『森のくまさん（Xサークル）』と二つのアイテムが出来てしまいますよね。<br />
こういう時に、どちらの情報に合わせるのかを決めるのが「一致」です。<br />
新しい情報を持っているのは『森のくまさん』なので、『森のくまさん』の一致ボタンを押し、表示されるリストから『新刊（Xサークル）』を選んで、一致させてください。<br />
すると、『森のくまさん』の購入希望者がAさん、Bさんとなり、同じアイテムとみなされます。<br />
なお、この操作は元に戻せないので、行う時は慎重に確認して実施してください。<br />
<br />
<H4>Q.登録するアイテムに画像も登録したいんですけど、可能ですか？</H4>
A.購入リストを作成するとき、購入アイテムの画像（例えば新刊の表紙画像とか）があったほうが分かりやすいですよね。<br />
　でもごめんなさい、バイレーツは即売会向け購入支援アプリという性質上、登録される画像は著作権が絡む可能性が大きいと判断しています。<br />
　著作権保持者から見てバイレーツは第三者となり、バイレーツに画像をアップロードするのは「個人の利用範囲を超える」という判断をされる可能性があります。<br />
　ですので、バイレーツは代わりに、アイテムリストをCSVファイルでダウンロードする機能を提供しています。<br />
　CSVファイルをダウンロードして、ご自身のPCから画像を設定して、購入リストを作成してください。<br />
　なお、編集の仕方についてはExcelやGoogleスプレッドシートなど、CSV編集可能なアプリの操作方法をご確認ください。<br />
<br />
<H4>Q.アイテムの登録とかグループの作成とか、PCからしかできないの？</H4>
A.すみません、2018/8/1現在は、スマホ対応しているのは「買出し」機能のみとなります。<br />
　今後のバージョンアップで、全機能スマホから行えるようにする予定でいますので、ご期待ください。<br />
<br />
<H4>Q.買出し日が来たら、どうしたらいいの？</H4>
A.買出し日に、スマホからアクセスすると、スマホ専用サイトに飛び、そこから購入登録を行います。<br />
　もし飛ばなかったら、画面最下段にあるスマホのリンクをクリックすると、スマホ画面に飛びます。<br />
　使用方法はこちらの動画をご覧ください。<br />
<br />
<H4>Q.Aさん、Bさんが購入希望をしている本が1冊しか買えなかったら、どうしたらいいの？</H4>
A.購入登録をするときに、購入数を1にして登録してください。<br />
最後に集計をするとき、こういう「一部しか購入できなかった」アイテムが一覧表示されます。<br />
ここで「誰がこの本を買ったことにするか」を決める（バイレーツでは割当と呼んでいます）ので、誰が購入者になるか入力をしてください。<br />
<br />
<H4>Q.買えなかったアイテムってどうなるの？</H4>
A.購入不可としたアイテム、また割当をして0と設定したアイテムは、ユーザーの個人アイテムに戻ります。<br />
また履歴に、「購入できなかったアイテム」として表示されます。<br />
なお、割当で1以上に設定されれば、個人アイテムには戻りませんし、購入できなかったとはなりません。<br />
<br />
<H3>【その他】</H3>
<H4>Q.なんかエラーが出たんだけど？</H4>
A.同じ操作で何度もエラーになる場合、お手数ですが、バイレーツ開発部までお問い合わせください。<br />
　その際、「PC・スマホのOS、ブラウザの種類」「何時ごろ操作をしたのか」「操作内容」を添えてくださると、調査が早く進みます。<br />
<br />
<H4>Q.バイレーツから退会したい場合、それまで登録した情報はどうなるの？</H4>
A.バイレーツは共同購入支援という性質上、購入情報を削除してしまうと、グループの集計情報が狂ってしまいます。<br />
　ですので、データは消去されずに本システムに残り、閲覧にのみ使用されることになります。<br />
　なお、まだ購入されていないアイテム情報については全て削除されます。<br />
<br />
<H4>Q.こんな機能が欲しいと思ったら、どうしたらいい？</H4>
A.バイレーツ開発部にご意見を送ってください。<br />
　必ずしも応えられるわけではありませんが、開発の参考とします。<br />
<br />
<H4>Q.動作確認環境は？</H4>
A.PCは「Windows10/Chrome/FF」、スマホは「iOS11.4.1/iPhone7 Plus/Safari」です。<br />
<br />
<H4>Q.誰が作っているの？</H4>
A.コミケに20年近く通っているオタクエンジニアが個人で作成しています。<br />
　サークル主、売り子、買い子、一般参加、全て経験済み。<br />
　夏冬のコミケは大体参加（行けるときは設営も参加）していて、後はシティとかにも参加しています。<br />
