<%= render 'layouts/message' %>
<H3>バイレーツは即売会向け共同購入お助けアプリです</H3>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PmEdGKwi2iU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br />
<%= link_to 'ユーザー登録して使用してみる', new_user_registration_path %>
