<h2>使い方</h2>
<br />
<h3>イベント開催前まで</h3>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_1" role="button" aria-expanded="false" aria-controls="eb_1">
      まずなにをすればいいの？
    </a>
  </div>
  <div class="collapse" id="eb_1">
    <div class="card-body">
      ・買いに行くイベントが決まっている？<br/>
      →イベント計画から、買いに行くイベント情報を登録しましょう。<br/>
      イベント計画を作ると、そのイベント計画で買いたいアイテムを登録できます。<br/>
      </br>
      ・まだイベントは決まっていないけれど、買いたいアイテムはある？<br/>
      →個人メモに、アイテムをメモしておきましょう。<small>イベントが決まったら、ここからアイテムをイベント計画に登録できます。</small><br>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_2" role="button" aria-expanded="false" aria-controls="eb_2">
      一緒に買いに行く人がいるから、一緒に計画を立てたい！
    </a>
  </div>
  <div class="collapse" id="eb_2">
    <div class="card-body">
      イベント計画に「招待」というボタンがありますので、ぽち、と押してください。<br/>
      そこに、一緒に行きたい人のシステムIDを入力して検索し、登録します。<br/>
      ※Twitter連携を使用している人を招待する場合は、「Twitter IDから探す」にチェックを入れてください。<br/>
      ※この検索はTwitterを探しているわけではなく、「カウカウOnlineに登録している人の中から」探しているので、一緒に行く人もユーザー登録してください。<br/>
      招待された人は、トップ画面に招待を受けるかどうかのお知らせが来ますので、承認するとイベント計画を共有できます。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_3" role="button" aria-expanded="false" aria-controls="eb_3">
      同じ日にイベントが複数あるんだけど……。
    </a>
  </div>
  <div class="collapse" id="eb_3">
    <div class="card-body">
      イベント計画は同日でも複数作成可能です。<br/>
      例えば「ビッグサイト用計画」「都産貿用計画」のように使ったり、ジャンルごとに使ったりできます。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_4" role="button" aria-expanded="false" aria-controls="eb_4">
      イベント計画を削除したり、イベント計画から退会したら、登録していたアイテムはどうなるの？
    </a>
  </div>
  <div class="collapse" id="eb_4">
    <div class="card-body">
      購入希望を出していたアイテムが、個人メモに自動登録されます。<br/>
      またイベント計画を立てたら、個人メモ画面から、イベント計画に追加しましょう。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_5" role="button" aria-expanded="false" aria-controls="eb_5">
      別の人が、同じアイテムを登録しちゃった！
    </a>
  </div>
  <div class="collapse" id="eb_5">
    <div class="card-body">
      Aさん、Bさんが同時に、同じアイテムを購入希望して登録された場合、「一致」を使うことでまとめることができます。<br/>
      残したいアイテムの「一致」ボタンを押し、一致させたいアイテムを選んでください。<br/>
      購入希望が取りまとめられます。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_6" role="button" aria-expanded="false" aria-controls="eb_6">
      通販でアイテムが買えたから、その情報を登録しておきたい
    </a>
  </div>
  <div class="collapse" id="eb_6">
    <div class="card-body">
      履歴画面から、購入したことを登録できます。<br/>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_7" role="button" aria-expanded="false" aria-controls="eb_7">
      買い物リストを印刷したい！
    </a>
  </div>
  <div class="collapse" id="eb_7">
    <div class="card-body">
      印刷したいイベント計画の画面に入り、イベントの概要ボタンをクリックして開きます。<br/>
      その中に、「全アイテム出力」というボタンがあるので、ここから買い物リストがダウンロードされます。<br/>
      ダウンロードは「csv」という形式で出力されるので、Excelなどを使って開き、好きな形に加工して印刷してください。<br/>
      <small>印刷方法や加工方法は各ソフトの使用方法を確認してください。</small>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#eb_8" role="button" aria-expanded="false" aria-controls="eb_8">
      どのくらいお金を使うことになるのか知りたい
    </a>
  </div>
  <div class="collapse" id="eb_8">
    <div class="card-body">
      印刷したいイベント計画の画面に入り、イベントの概要ボタンをクリックして開きます。<br/>
      登録されているアイテムの中で、金額が入力されているものについて、以下の金額を計算しています。<br/>
      <strong>計画全体計</strong>：イベント計画に登録したアイテム全部を買った場合の金額<br/>
      <strong>購入担当計</strong>：自分が購入担当になっているアイテムを全部買った場合の金額<br/>
      <strong>購入希望計</strong>：自分が購入希望を出しているアイテムが全部買えた場合の金額<br/>
      また、イベント計画のリスト画面にある「精算確認」から詳細を確認できます。
    </div>
  </div>
</div>
<br/>
<h3>イベント当日</h3>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#et_1" role="button" aria-expanded="false" aria-controls="et_1">
      一緒に行く人が休みになった！
    </a>
  </div>
  <div class="collapse" id="et_1">
    <div class="card-body">
      イベント当日画面から、状況確認のページにいきます。<br/>
      そこで、検索条件に「未購入」と「休んだ人」を指定して、検索をしましょう。<br/>
      すると画面の下に「担当変更」のボタンがありますので、変更したいアイテムをチェックし、変更する人を選んで、購入担当を変えてください。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#et_2" role="button" aria-expanded="false" aria-controls="et_2">
      計画した時と購入時の値段が違っていたら？　計画した数を買えなかったら？
    </a>
  </div>
  <div class="collapse" id="et_2">
    <div class="card-body">
      購入できた場合、「〇」ボタンをぽちっと押すと、「購入した値段」「ノベルティの有無」「購入数」を登録する画面が出てきます。<br/>
      ここには、計画した時の値が入っているので、実際と違っていたら修正して登録してください。<br/>
      なお、2個買う予定が1個しか買えなかったら、最後の精算時に「誰がその1個を買うか」を決める画面が出てきます。<br/>
      <small>こういう不足アイテムの分配を当システムでは、「割当」と呼んでいます。</small>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#et_3" role="button" aria-expanded="false" aria-controls="et_3">
      他の人の購入状況を確認したい
    </a>
  </div>
  <div class="collapse" id="et_3">
    <div class="card-body">
      イベント当日画面から、状況確認画面にいくと、ここで検索ができるので、確認してください。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#et_4" role="button" aria-expanded="false" aria-controls="et_4">
      イベント当日だけど、アイテムを追加したい！
    </a>
  </div>
  <div class="collapse" id="et_4">
    <div class="card-body">
      イベント当日画面から、状況確認画面にいき、ここで買ったアイテムを「新規登録」してください。<br/>
      イベント計画からも登録できます。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#et_5" role="button" aria-expanded="false" aria-controls="et_5">
      全部買い物が終わったら、どうしたらいいの？
    </a>
  </div>
  <div class="collapse" id="et_5">
    <div class="card-body">
      イベント当日画面から精算確認画面にいきます。<br/>
      「締め」というボタンが表示されるので、ぽちっと押してください。<br/>
      正常に「締め」られない場合、画面に案内が出ますので、案内に従って操作をします。<br/>
      なお、イベント当日に「締め」られるのは、「そのイベント計画を作った人」だけなので、ご注意ください。<br/>
      <small>イベントが終わった後なら、作成者以外も「締め」られます。</small>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#et_6" role="button" aria-expanded="false" aria-controls="et_6">
      買えなかったアイテムってどうなるの？
    </a>
  </div>
  <div class="collapse" id="et_6">
    <div class="card-body">
      「×」ボタンを押して購入不可にしたアイテムや、「割当」で買えなかったことになったアイテムは、「締め」が終わると、購入希望を題した人の個人メモになります。<br/>
      次のイベントが決まったら、個人メモからイベント計画に移しましょう。<br/>
      なお、「割当」で、1つ以上購入できていたら、個人メモにはなりません。
    </div>
  </div>
</div>
<br/>
<h2>アカウント関連</h2>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#ac_1" role="button" aria-expanded="false" aria-controls="ac_1">
      TwitterでIDが変わったら、手続きが必要？
    </a>
  </div>
  <div class="collapse" id="ac_1">
    <div class="card-body">
      本システムはログイン時に、Twitterから「アカウントID」と「ユーザー名」を取得します。<br/>
      ですので、Twitter連携を使用してログインしている人は、特に手続きは必要ありません。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#ac_2" role="button" aria-expanded="false" aria-controls="ac_2">
      アカウント削除したら、それまでのデータはどうなるの？
    </a>
  </div>
  <div class="collapse" id="ac_2">
    <div class="card-body">
      過去のイベント計画のデータについては、精算金額が狂ってしまうので、データは消されずに残ります。<br/>
      これからのイベント計画については、全て削除されます。<br/>
      削除対象は「自分が作成したイベント計画」と、「招待されたイベント計画で購入希望を出していたアイテム」と「個人メモ」です。<br/>
      また一度削除したアカウントは復帰できませんので、ご注意ください。
    </div>
  </div>
</div>
<br/>
<h2>その他</h2>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#etc_1" role="button" aria-expanded="false" aria-controls="etc_1">
      バグが見つかった、こんな機能が欲しい
    </a>
  </div>
  <div class="collapse" id="etc_1">
    <div class="card-body">
      バグや機能要望については、画面下にあるお問い合わせのリンクから送ってください。<br/>
      改修状況などについては、Twitterで発信していますので、こちらも見てみてください。<br/>
      なお、本システムは個人が趣味で開発しているものなので、即時対応が難しい場合もありますので、ご了承ください。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#etc_2" role="button" aria-expanded="false" aria-controls="etc_2">
      動作確認環境は？
    </a>
  </div>
  <div class="collapse" id="etc_2">
    <div class="card-body">
      PCはWindows10のChrome（最新版）、スマホはiPhone7のSafari（最新版）、Chrome（最新版）で行っています。
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <a data-toggle="collapse" href="#etc_3" role="button" aria-expanded="false" aria-controls="etc_3">
      誰が作っているの？
    </a>
  </div>
  <div class="collapse" id="etc_3">
    <div class="card-body">
      コミケに20年近く通っているオタクエンジニアが個人で作成しています。<br/>
      サークル主、売り子、買い子、一般参加、全て経験済み。<br/>
      夏冬のコミケは大体参加（行けるときは設営も参加）していて、後はシティとかにも参加しています。<br/>
      自分が買い物しやすくしたかったので、本システムを作りました。
    </div>
  </div>
</div>