<H3>利用規約</H3>
この利用規約（以下，「本規約」といいます。）は，「バイレーツ」（以下，「本サービス」といいます。）の利用条件を定めるものです。<br />
登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。<br />
<br />
<H4>第1条（適用）</H4>
本規約は，ユーザーと本サービスの利用に関わる一切の関係に適用されるものとします。<br />
<H4>第2条（利用登録）</H4>
１．	登録希望者が本サービスの定める方法によって利用登録を申請し，本サービスがこれを承認することによって，利用登録が完了するものとします。<br />
1.	本サービスは，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。<br />
•	（1）利用登録の申請に際して虚偽の事項を届け出た場合<br />
•	（2）本規約に違反したことがある者からの申請である場合<br />
•	（3）その他，本サービスが利用登録を相当でないと判断した場合<br />
<H4>第3条（ユーザーIDおよびパスワードの管理）</H4>
1.	ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを管理するものとします。<br />
2.	ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与することはできません。<br />
本サービスは，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。<br />
3.	本サービスをtwitterによるログイン認証で利用する場合,ユーザーはtwitterのIDおよびパスワードを,ユーザーの自己の責任において管理するものとします。<br />
<H4>第4条（利用料金および支払方法）</H4>
1.	本システムは無料で使用することができます。<br />
<H4>第5条（禁止事項）</H4>
ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。<br />
•	（1）法令または公序良俗に違反する行為<br />
•	（2）犯罪行為に関連する行為<br />
•	（3）本サービスのサーバーまたはネットワークの機能を破壊したり，妨害したりする行為<br />
•	（4）本サービスの運営を妨害するおそれのある行為<br />
•	（5）他のユーザーに関する個人情報等を収集または蓄積する行為<br />
•	（6）他のユーザーに成りすます行為<br />
•	（7）本サービスのサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為<br />
•	（8）その他，本サービスが不適切と判断する行為<br />
<H4>第6条（本サービスの提供の停止等）</H4>
1.	本サービスは，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。<br />
•	（1）本サービスにかかるコンピュータシステムの保守点検または更新を行う場合<br />
•	（2）地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合<br />
•	（3）コンピュータまたは通信回線等が事故により停止した場合<br />
•	（4）その他，本サービスが本サービスの提供が困難と判断した場合<br />
2.	本サービスは，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害について，理由を問わず一切の責任を負わないものとします。<br />
<H4>第7条（利用制限および登録抹消）</H4>
1.	本サービスは，以下の場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。<br />
•	（1）本規約のいずれかの条項に違反した場合<br />
•	（2）登録事項に虚偽の事実があることが判明した場合<br />
•	（3）その他，本サービス運営者が本サービスの利用を適当でないと判断した場合<br />
2.	本サービスは，本条に基づき本サービスが行った行為によりユーザーに生じた損害について，一切の責任を負いません。<br />
<H4>第8条（免責事項）</H4>
1.	本サービスの債務不履行責任は，本サービスの故意または重過失によらない場合には免責されるものとします。<br />
2.	本サービスは，何らかの理由によって責任を負う場合にも，通常生じうる損害の範囲に従い,賠償の責任を負うものとします。<br />
3.	本サービスは，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。<br />
<H4>第9条（サービス内容の変更等）</H4>
本サービスは，一か月以上前に告知をすることにより，本サービスの内容を変更または本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。<br />
<H4>第10条（利用規約の変更）</H4>
本サービスは，規約変更の一か月前に,本システム上に通知することにより,本規約を変更することができるものとします。<br />
<H4>第11条（通知または連絡）</H4>
ユーザーと本サービスとの間の通知または連絡は，本サービスの定める方法によって行うものとします。<br />
<H4>第12条（権利義務の譲渡の禁止）</H4>
ユーザーは，本サービスの書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。<br />
<H4>第13条（準拠法・裁判管轄）</H4>
1.	本規約の解釈にあたっては，日本法を準拠法とします。<br />
2.	本サービスに関して紛争が生じた場合には，東京地方裁判所を専属的合意管轄とします。<br />
以上<br />
<br />
<br />
<H3>プライバシーポリシー</H3>
「バイレーツ」（以下,「本サービス」といいます。）におけるプライバシー情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。<br />
<H4>第1条（プライバシー情報）</H4>
1.	本システムで取り扱うプライバシー情報とは,登録およびログイン時に入力するメールアドレス,およびTwitterを利用した認証より取得される,認証のための文字列,Twitterアカウント,名前,問い合わせを組み合わせて個人を取得できる内容を指します。<br />
<H4>第２条（プライバシー情報の収集方法）</H4>
1.	本サービスは，ユーザーが利用登録をする際にメールアドレスなどの個人情報を収集します。<br />
2.	本サービスは,ユーザーがTwitter認証を利用した際,認証のための情報を収集します。<br />
3.	その他,広告表示の最適化のため,googleのサービス,cookie等を利用することがあります。<br />
<H4>第３条（個人情報を収集・利用する目的）</H4>
本サービスが個人情報を収集・利用する目的は，以下のとおりです。<br />
•	（1）ユーザーがログインを行い,またユーザー情報を編集する目的<br />
•	（2）ユーザーからの問い合わせに対応する目的<br />
•	（3）ユーザーに適切な広告を配信する目的<br />
•	（4）上記の利用目的に付随する目的<br />
<H4>第４条（個人情報の第三者提供）</H4>
1.	本サービスは，次に掲げる場合を除いて，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。<br />
•	（1）法令に基づく場合<br />
•	（2）人の生命，身体または財産の保護のために必要がある場合であって，本人の同意を得ることが困難であるとき<br />
•	（3）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって，本人の同意を得ることが困難であるとき<br />
•	（4）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって，本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき<br />
•	（5）予め次の事項を告知あるいは公表をしている場合<br />
i.	利用目的に第三者への提供を含むこと<br />
ii.	第三者に提供されるデータの項目<br />
iii.	第三者への提供の手段または方法<br />
iv.	本人の求めに応じて個人情報の第三者への提供を停止すること<br />
2.	前項の定めにかかわらず，次に掲げる場合は第三者には該当しないものとします。<br />
•	（1）本サービスが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合<br />
•	（2）合併その他の事由による事業の承継に伴って個人情報が提供される場合<br />
•	（3）個人情報を特定の者との間で共同して利用する場合であって，その旨並びに共同して利用される個人情報の項目，共同して利用する者の範囲，利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について，あらかじめ本人に通知し，または本人が容易に知り得る状態に置いているとき<br />
<H4>第５条（個人情報の開示）</H4>
1.	本サービスは，前4項に該当する場合を除き,個人情報の開示を原則行いません。<br />
<H4>第６条（個人情報の訂正および削除）</H4>
1.	ユーザーは，本サービスの保有する自己の個人情報が誤った情報である場合には，本サービスが定める手続きにより，ユーザー自身により訂正および削除を行うものとします。<br />
<H4>第７条（個人情報の利用停止等）</H4>
本サービスは，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正の手段により取得されたものであるという理由により，その利用の停止または消去（以下，「利用停止等」といいます。）を求められた場合には，遅滞なく必要な調査を行い，その結果に基づき，個人情報の利用停止等を行い，その旨本人に通知します。<br />
ただし，個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって，本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は，この代替策を講じます。<br />
<H4>第８条（プライバシーポリシーの変更）</H4>
1.	本ポリシーの内容は，本システムを使用して一か月以上前に告知することにより，変更することができるものとします。<br />
2.	本サービスが別途定める場合を除いて，変更後のプライバシーポリシーは，本ウェブサイトに掲載した有効日から効力を生じるものとします。<br />
<H4>第９条（お問い合わせ窓口）</H4>
本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。<br />
Eメールアドレス：master@it-design.tokyo<br />
Twitter：<%= link_to '@birate_jp', "https://twitter.com/birate_jp" %><br />
<br />
