<%= render 'layouts/message' %>
<div class="row">
  <div class="col-xs-10">
    <%= render '/groups/plan/main' %>
  </div>
  <div class="col-xs-2">
    <%= render '/groups/plan/log' %>
  </div>
</div>
<div>
  <%= render '/groups/plan/sum' %>
</div>