<!-- <p>Welcome <%= @email %>!</p> -->
<p>バイレーツへの本登録をありがとうございます。</p>

<p>現在は仮登録の状態です。<br />
以下のリンクをクリックして本登録となります。<br />
本登録後、入力していただいたメールアドレス、パスワードを使ってログインしてください。<br />
なお、このメールに心当たりがない場合は削除をお願いします。<br />
また、このメールアドレスは送信専門ですので、返信は行わないでください。<br/>
</p>

<p><%= link_to '本登録を行う', confirmation_url(@resource, confirmation_token: @token) %></p>
<p><%= link_to 'バイレーツ', 'https://birate.jp' %></p>