<!-- <p>Hello <%= @resource.email %>!</p> -->
<p>バイレーツよりパスワード再発行の手続きメールを送信します。</p>

<p>以下のリンクをクリックすると、パスワード再発行の手続きを行えます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワード変更手続きをとっていない場合、このメールは無視してください。</p>
<p>上記リンクをクリックしない限り、パスワードは変更されません。<br />
また、このメールアドレスは送信専門ですので、返信は行わないでください。<br/></p>
