<% flash.each do |name, msg| %>
  <% if name != "timedout" %>
    <% if name == "notice" then name = "info" elsif name == "alert" then name = "danger" end %>
    <div class="alert alert-<%= name %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>